:root {
  --color-dark-purple: #201625;
  --color-bright-orange: #f35e30;
  --color-light-pink: #e9c7d7;
  --color-soft-coral: #ee9880;
  --color-coral: #fb8057;
  --color-warm-orange: #fb8d61;
  --color-brown: #9e512a;
  --color-deep-orange: #a93218;
  --color-dark-orange: #d3411c;
  --color-pale-gold: #f2c688;
  --color-light-blue: #a4c2ee;
  --color-light-blue2: #82aff3;
  --color-light-green: #a0e4af;
}

body,
html {
  background-color: var(--color-warm-orange);
  color: var(--color-light-pink);
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  height: 100%;
}

/* Example of using other colors */
h1 {
  color: var(--color-dark-purple) !important;
  margin: .5em;
}

h4 {
  color: white !important;
  margin: .5em;
}

.question-text {
  color: var(--color-dark-purple);
}